/* Nav */
.nav .nav-logged-user .nav-item {
    padding-right: 2px;
    padding-left: 2px;
}
.nav .nav-logged-user .nav-item span.icon {
    margin-right: 5px;
}
.nav .nav-logged-user a,
.nav .nav-logged-user a:hover {
    text-decoration: none;
}


/* Forms */
.control.inline .radio, .control.inline .checkbox {
    line-height: 2.15;
}
.select-multiple {
    height: auto;
}
.select-multiple::after {
    border: none;
}
.select-multiple select {
    height: auto;
    border-image: none;
    padding: 5px 9px;
}

.profile, .links {
    clear: both;
}

/* Breadcrumbs */
.breadcrumbs {
    font-size: 13px;
}
.breadcrumbs .separator {
    padding: 0 3px;
}
.breadcrumbs a:hover {
    text-decoration: underline;
    color: #00d1b2;
}
.breadcrumbs .separator .fa {
    vertical-align: baseline;
    color: #5a5a5a;
}

/* Table */
table.table {
    color: #5a5a5a;
}
table.table thead td {
    font-weight: 500;
}

/* Table categories */
.category-list .category a {
    font-size: 18px;
}
.category-list .category div {
    font-weight: 300;
}
.category-list .last-comment {
    width: 30%;
}

/* Table topic list */
.topic-list .last-comment {
    width: 30%;
}
.topic-list td.topic {
    font-size: 14px;
}
.topic-list td.topic a {
    font-size: 16px;
}

/* Table thread */
table.thread .author {
    width: 20%;
}
table.thread .author .username {
    font-weight: bold;
    font-size: 18px;
}
table.thread .author .info {
    font-size: 12px;
}
table.thread .comment {
    padding: 0;
    background-color: transparent;
}
table.thread .comment .date {
    padding: .3em .75em;
    background-color: #F5F5F5;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
}
table.thread .comment .content {
    padding: .8em .75em;
    margin-bottom: 0;
}
table.thread .comment .actions {
    padding: 0.3em .75em;
}
table.thread .comment .actions .fa {
    font-size: 16px;
}

/* last comment  */
td.last-comment {
   font-size: 14px;
}
td.last-comment i.fa {
    vertical-align: baseline;
    font-size: 16px;
}